@import '../../App.scss';

.list {
  .row {
    width: 100%;
    padding: $default-padding;
    display: flex;
    gap: 24px;
  }

  .header {
    font-weight: 700;
    * {
      border-right: 1px solid $separator-color;
    }
    :last-child {
      border-right: none;
    }
  }

  .row_view {
    cursor: pointer;
  }

  .main_row {
    padding-left: 16px;
    display: flex;
    gap: 16px;
    cursor: pointer;
  }
}
